h1{
  text-align: center;
}
.indiv *{
  /* border: 1px solid; */
}

.indiv  div {
  display: inline-block;
  /* display: table-cell; */
  width: 40%;
  height: 40px;
  text-align: right;
}

.indiv{
  width: 80%;
  margin: 0 auto;
}

#cal{
  color: #FFF;
  text-align: center;
  line-height: 30px;
  width: 100px;
  height: 30px;
  margin: 0 auto;
  border-radius: 25px;
  background: #0090D7;
  cursor: pointer;
}

#cal:hover{
  color: #000;
}

table {
  width: 100%;
  border: 0;
  margin: 0 auto 0;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  background: #0090D7;
  font-weight: normal;
  line-height: 30px;
  font-size: 14px;
  color: #FFF;
}

table tr:nth-child(odd) {
  background: #F4F4F4;
}

table td:nth-child(even) {
  color: #C00;
}

table tr:hover {
  background: #73B1E0;
  color: #FFF;
}

table td,
table th {
  border: 1px solid #EEE;
}
